<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>log in</title>
	
	<link rel="stylesheet" href="../static/login.css"/>
</head>
<body>
	<form action="">
	<div id="login_frame">
		<p><label class="label_input">Username</label><input type="text" id="Username" class="text_field"/></p>
		<p><label class="label_input">Password</label><input type="password" id="Password" class="text_field"></p>
	<div id="login_control">
		<button><a href="main.html">login</a></button>
		<a id="sign_up" href="sign_up.html">sign up</a>
	</div>
</div>
</form>
</body>
</html>